ray==2.6.3 
gym 
matplotlib 
torchvision 
pandas 
Gymnasium==0.26.3 
numpy==1.26.4 
torch==2.2.2
scipy
matplotlib-inline 
qpsolvers==4.3.2
dm-tree==0.1.8 
scikit-image==0.22.0 
seaborn==0.13.2
pyarrow
tensorboard
tensorboardX
gputil==1.4.0
psutil
ipykernel
jupyter
wandb
lz4
quadprog